{% load static %}
<header class="main-header">
    <div class="header-container">
        <div class="header-left">
            <div class="university-logo">
                <img src="{% static 'dashboard/images/logo1.png' %}" alt="NORSU Logo" class="norsu-logo">
                <div class="university-text">
                    <h1>Negros Oriental State University</h1>
                    <p>Bayawan-Sta. Catalina Campus</p>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="header-logos">
                <div class="logo-item">
                    <img src="{% static 'dashboard/images/sales1.png' %}" alt="Accreditation Logo">
                </div>
                <div class="logo-item">
                    <img src="{% static 'dashboard/images/sales2.png' %}" alt="Logo 2">
                </div>
                <div class="logo-item">
                    <img src="{% static 'dashboard/images/sales3.png' %}" alt="Logo 3">
                </div>
                
            </div>
        </div>
    </div>
</header>
